@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.card-login {
    padding: 30px;
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.form-group input {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}

.btn {
    background-color: #ff69b4; 
    border: 2px solid #ff1493;
    color: white; 
}

.card-home {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.cria {
    text-align: center;
    background-color: rgb(245, 245, 245);
}

#clientes {
    color: rgb(211, 75, 98) ;
}

#bottom:hover{

    background-color: rgb(252, 91, 118);
    border-color: white;
}

#bottom2:hover{
    background-color: rgb(252, 91, 118);
    border-color: white;
}
#login{
    
    color: rgb(211, 75, 98);
    
}

#criar{
    text-align: center;
}

#eSenha{
    font-size: 15px;
}

#voltar{
    text-align: center;
    border: 2px solid black;
}

#bem{
    border-right: 4px solid;
    white-space: nowrap;
    width: 14ch;
    overflow: hidden;
    animation: animaTexto steps(14) 2s, animaMarcador 0.5s linear infinite;

}

@keyframes animaMarcador{
    50%{
        border-right: transparent;
    }
}

@keyframes animaTexto{
    0%{
        width: 0;
    }
}

#botao2{
    border: none;
    background:none;
}

#menuu{
    height: 80vh;
    margin-left: 83%;
    width: 17%;
    text-align: center;
    padding-top: 1%;
    border-radius: 5px;

}
.c7{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 2px solid black;
}
.coluna{
    border: 2px solid black;
    border-radius: 15px;
    transition: 0.5s;
    height: 50px;

}
.coluna:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.bot{
    margin-top: 20px;
    cursor: pointer;
}
.c1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 2px solid black;
}
.c2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 2px solid black;
}
.c3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 2px solid black;
}
.c4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 2px solid black;
}
.c5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 2px solid black;
}
.c6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 2px solid black;
}